= simple_form_for @draft do |f|
  = f.input :title, placeholder: 'タイトル', label: false, autofocus: true
  .row.col-sm-12
    = f.input :content, placeholder: '本文', label: false, input_html: { rows: 20 }, wrapper_html: { class: "col-sm-6" }
    .preview-content.col-sm-6
  .row.col-sm-12
    = f.button :submit